/* Reset styles */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* end reset styles */

body {
  background-color: black;
  color: wheat;
}

.title {
  color: wheat;
}

/* Wep app styles */

body {
}

.hero {
  background: url(public/android2.jpeg) no-repeat center center;
  background-size: cover;
}

.title {
  font-family: Source Sans Pro;
  font-weight: 700;
  font-style: Bold;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: #f7faff;
}

.description {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #adb3bf;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1590px;
  margin: 0 auto;
}

.logo {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 1px solid #adb3bf;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  display: none;
}

.hidden {
  opacity: 0;
}

/* Загрузочный экран */

.preloader {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
  display: none;
}

.zIndex0 {
  z-index: 0;
  opacity: 0;
}

.spinner {
  width: 70px;
  height: 70px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  background: url(public/loadLogo.svg) no-repeat center center;
  background-size: 60%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Home block */

.home-info {
  height: 1000px;
}

.home-info__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 160px;
}

.home-info__about-img {
  width: 700px;
  border-radius: 20px;
  box-shadow: 0 0 100px rgb(27, 112, 241, 0.3);
}

.home-info__about-title {
  margin-bottom: 30px;
  /* transform: translateX(-1000px); */
  transition: all 0.3s ease;
}

.home-info__about-title--active {
  transform: translateX(0);
}

.home-info__about-text {
  margin-bottom: 20px;
  /* transform: translateX(-1000px); */
  transition: all 0.3s ease;
}

.home-info__about-text--active {
  transform: translateX(0);
}

.home-info__about {
  margin-right: 10px;
}

.home-info__tasks-block {
  /* transform: translateX(-1000px); */
  transition: all 0.3s ease;
}

.home-info__tasks-block--active {
  transform: translateX(0);
}

/* stack-block */

.stack-block {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.stack-block__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.stack-block__item {
  display: flex;
  max-width: 100%;
}

.stack-block__item-person-img {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.stack-block__item-stack {
  max-width: 50%;
}

.stack-block__item-person {
  max-width: 50%;
}

.stack-block__item:nth-child(even) {
  justify-self: end;
}

/* Header Block */

.header {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #adb3bf;

  background-color: rgb(30, 31, 37);
  height: 65px;
  background: rgba(30, 31, 37, 0.8);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;
}

.header--scrolled {
  height: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.header-logo__img {
  position: absolute;
  left: 165px;
}

.header-nav__list {
  display: flex;
  justify-content: space-around;
}

.header-nav__item {
  list-style-type: none;
  transition: all 0.3s ease;
  margin-right: 140px;
  cursor: pointer;
  text-shadow: 0 0 10px #ffffff80;
}

.header-nav__item:hover {
  transition: all 0.3s ease;
  color: rgb(27, 112, 241);
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__item a {
  transition: all 0.3s ease;
  color: #adb3bf;
  position: relative;
}

.header-nav__item a:hover {
  transition: all 0.3s ease;
  color: #1b70f1;
}

.header-nav__projects-list {
  position: absolute;
  transition: all 0.3s ease;
}

.header-nav__stack-container {
  position: relative;
}

.header-nav__stack-list {
  transition: all 0.3s ease;
  position: absolute;
}

.header-nav__burger {
  background-color: #1e1f25;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.header-nav__real-projects-list {
  position: absolute;
}

.header-nav__real-projects-item {
  max-width: 150px;
}

/* Header Block end*/

/* Footer Block */

.footer {
  background-color: #1e1f25;
  height: 65px;
  /* background-image: url(public/rectangle.png); */
  background: rgba(30, 31, 37, 0.8);
  backdrop-filter: blur(3px);
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footer-social__item {
  margin-right: 5px;
}

.footer-social__item svg {
  transition: all 0.3s ease;
}

.footer-social__item svg:hover {
  transition: all 0.3s ease;
  fill: #1b70f1;
  box-shadow: 0 0 100px rgb(255, 255, 255, 0.3);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts__item {
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 23px;
}

.footer-contacts__item:hover {
  color: #1b70f1;
  transition: all 0.3s ease;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Footer Block end */

/* Адаптив */

@media screen and (max-width: 1650px) {
  /* Уменьшаем максимальную ширину контента */
  .wrapper {
    max-width: 95%;
  }
}

@media screen and (max-width: 1300px) {
  .title {
    font-size: 75px;
  }

  .home-info__about-img {
    width: 550px;
  }

  .description {
    font-size: 17px;
  }
}

/* Планшеты (от 768px до 1200px) */
@media screen and (max-width: 1200px) {
  /* Шапка */
  .header-wrapper {
    /* Можем немного уменьшить отступы */
    padding: 0 20px;
  }

  .header-logo__img {
    /* Сделаем позиционирование более гибким
    position: static; /* Или оставим absolute, но с относительными единицами */
    /* left: 20px;
    width: 60px;
    height: 60px;
  }  */

    .header-nav__item {
      margin-right: 30px; /* Уменьшаем расстояние между пунктами */
      font-size: 16px; /* Уменьшаем шрифт */
    }

    /* Основной контент */
    .home-info {
      height: auto; /* Позволяем высоте подстраиваться */
      padding-bottom: 50px; /* Добавим отступ снизу */
    }

    .home-info__flex {
      flex-direction: column; /* Элементы друг под другом */
      align-items: center;
      padding-top: 100px; /* Уменьшаем отступ сверху */
      text-align: center; /* Центрируем текст */
    }

    .home-info__about {
      margin-bottom: 30px; /* Отступ между текстом и картинкой */
    }

    .home-info__about-img {
      width: 90%; /* Ширина картинки 90% от контейнера */
      max-width: 600px; /* Ограничим максимальную ширину */
    }

    .title {
      font-size: 72px; /* Уменьшаем заголовок */
    }

    .description {
      font-size: 18px; /* Уменьшаем описание */
      line-height: 28px;
    }

    /* Подвал */
    .footer__wrapper {
      flex-direction: column; /* Располагаем элементы вертикально */
      justify-content: center;
      gap: 15px; /* Расстояние между блоками */
      padding: 20px 0;
    }

    .footer-contacts {
      flex-direction: row; /* Контакты в одну линию */
      gap: 20px; /* Расстояние между контактами */
    }
  }
}

@media screen and (max-width: 1050px) {
  .title {
    font-size: 65px;
  }

  .description {
    font-size: 15px;
  }

  .home-info__about-text {
    margin-bottom: 15px;
  }

  .home-info__flex {
    padding-top: 90px;
  }
  .home-info {
    /* height: 800px; */
  }
}

@media screen and (max-width: 950px) {
  .home-info__about-img {
    width: 480px;
  }
  .logo {
    display: none;
  }
  .footer__wrapper {
    justify-content: space-around;
  }
  .footer-contacts {
    align-items: flex-start;
  }
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 60px;
  }
  .description {
    font-size: 13px;
  }
}

/* Мобильные устройства (до 768px) */
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 90%;
  }

  /* Шапка */
  .header {
    height: auto;
    padding: 10px 0;
  }

  .header-wrapper {
    display: block;
  }

  .header-nav__list {
    display: flex;
    justify-content: center;
    gap: 65px;
  }

  .header-logo__img {
    width: 50px;
    height: 50px;
  }

  .header-nav__item {
    margin-right: 0; /* Убираем правый отступ */
    font-size: 14px;
  }

  /* Основной контент */
  .home-info__about {
    max-width: 325px;
  }

  .home-info {
    padding-bottom: 30px;
  }

  .home-info__flex {
    padding-top: 60px;
  }

  .title {
    font-size: 48px; /* Еще сильнее уменьшаем заголовок */
  }

  .description {
    font-size: 16px;
    line-height: 24px;
  }

  .home-info__about-item li {
    margin-bottom: 8px;
  }

  /* Подвал */
  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer__wrapper {
    gap: 10px;
  }

  .footer-contacts {
    flex-direction: column; /* Контакты друг под другом */
    gap: 5px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 730px) {
  .home-info {
    background: url(public/android2.jpeg) no-repeat -170px center;
  }
  .home-info {
    height: 730px;
  }
}

@media screen and (max-width: 630px) {
  .home-info {
    background: url(public/android2.jpeg) no-repeat -280px center;
  }
}

@media screen and (max-width: 530px) {
  .home-info {
    background: url(public/android2.jpeg) no-repeat -320px center;
  }

  .header-nav__list {
    gap: 45px;
  }
}

/* Очень маленькие экраны (до 480px) */
@media screen and (max-width: 480px) {
  .title {
    font-size: 36px;
  }

  .description {
    font-size: 14px;
    line-height: 22px;
  }

  .header-nav__item a {
    /* Может потребоваться уменьшить размер шрифта ссылок в выпадающих списках */
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .home-info__flex {
    display: flex;
    flex-direction: column;
  }

  .home-info__about-title {
    text-align: left;
  }

  .home-info__tasks {
    margin-bottom: 20px;
  }

  .home-info__about {
    max-width: 257px;
  }
  .home-info {
    background: url(public/android2.jpeg) no-repeat -360px center;
  }
}

@media screen and (max-width: 400px) {
  .home-info__flex {
    display: flex;
    flex-direction: column;
  }

  .home-info__about-title {
    text-align: left;
  }

  .home-info__tasks {
    margin-bottom: 20px;
  }

  .home-info__about {
    max-width: 230px;
  }
  .home-info {
    background: url(public/android2.jpeg) no-repeat -390px center;
  }
  .header-nav__list {
    gap: 40px;
  }
}

@media screen and (max-width: 400px) {
  .home-info {
    background: url(public/android2.jpeg) no-repeat -430px center;
  }
}

/* end Web app styles */
